*.in
*.o
*.lo
*.libs*
*.spv
*Makefile
*.deps*
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
framework/config.h
framework/libvkdf.la
framework/stamp-h1
install-sh
libtool
ltmain.sh
missing
demos/depth/depth
demos/mesh/mesh
demos/model/model
demos/offscreen/offscreen
demos/texture/texture
demos/triangle/triangle
demos/sponza/sponza
demos/scene/scene
demos/scenelight/scene
demos/shadow/shadow
demos/sponza/textures
