*.in
*.o
*.lo
*.libs*
*.spv
*Makefile
*.deps*
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
framework/config.h
framework/libvkdf.la
framework/stamp-h1
install-sh
libtool
ltmain.sh
missing
data/spirv/ssao-blur.deferred.frag
data/spirv/ssao.deferred.frag
demos/depth/depth
demos/mesh/mesh
demos/model/model
demos/offscreen/offscreen
demos/texture/texture
demos/triangle/triangle
demos/sponza/sponza
demos/scene/scene
demos/scenelight/scene
demos/shadow/shadow
demos/sponza/textures
demos/model/shader.frag
demos/scenelight/floor.frag
demos/scenelight/obj.frag
demos/shadow/shader.frag
demos/sponza/gbuffer-merge.frag
demos/sponza/gbuffer-merge.ssao.frag
demos/sponza/obj.deferred.frag
demos/sponza/obj.deferred.vert
demos/sponza/obj.frag
demos/sponza/obj.vert
demos/sponza/obj_opacity.deferred.frag
demos/sponza/obj_opacity.frag
